<div class="card-fighter">
  <div class="card-product">
    <div class="card-product-infos">
      <h2><%= fighter.name %></h2> 
      <p><%= fighter.role%></p>
    </div>
    <div class="card-fighter-options">
      <%= link_to "Delete", warband_fighter_path(fighter), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-flat' %>
    </div>
  </div>
</div>
