// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$background-color: #131313;
$text-white:  #ececec;
$text-grey: grey;
$border-color: rgb(70, 70, 70);
$button-color: #620a0a;
$button-color-hover: #f3e5e5;
$card-bg-color: rgb(56, 56, 56);
