$bg_color: #140D2A;
$dark_red: #eea2c8;
$shadow_size: 8px;
.footer {
  background: $bg_color;
  color: white;
  text-shadow: 0 0 $shadow_size #eea2c8;
  border-top: 2px solid $dark_red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width:100%;
  padding: 0px 50px;
  bottom: 0;
  left: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-shadow: 0 0 $shadow_size #eea2c8;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}