.card-warband {
  background-size: cover;
  background-position: center;
  background-color: $card-bg-color;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $text-white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;
}

.card-warband-image{
  width:100%;
  object-fit: cover
}

.card-title{
  font-family: $body-font;
}